body {
    color: salmon;
    background-color: black;
    font-family: 'Sacramento', cursive;
    font-size: 150%;
    margin: 5em 25%;
 }

 <link href = "https://fonts.googleapis.com/css?family=Sacramento" rel= "stylesheet">